---
import FriendList from '@/components/links/FriendList.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import links from '../../../public/links.json'

const groups = [{ id: 'cf-links', title: '友链' }]
---

<PageLayout title='友链'>
  <p>朋友的站点。</p>
  {
    groups.map(({ id, title }) => {
      const list = links.friends.find((group) => group.id_name === id)
      return list?.link_list.length ? (
        <div class='mb-8'>
          <FriendList {title} {list} />
        </div>
      ) : null
    })
  }
</PageLayout>
